.prm-welcome-banner {
	height: 176px;
}

.prm-welcome-img {
	border-radius: var(--border-radius-xl);
	object-fit: cover;
	right: 0;
}

.prm-text {
	font-size: var(--h2-font-size);
	z-index: 1;
}

@media (min-width: 768px) {
	.prm-text {
		font-size: var(--h1-font-size);
	}
}

@media (min-width: 992px) {
	.prm-text {
		font-size: var(--display4-size);
	}
}
