**/*.iml
**/.classpath
**/.ivy
**/.project
**/.sass-cache
**/.settings
**/.web_bundle_build
**/bin
**/build_gradle
**/dist
**/dist
**/node_modules
**/node_modules_cache
**/node_modules_cache
**/test-coverage
**/tmp
.DS_Store
.gradle
.idea
/build
/bundles
/client-extensions/*/build
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results