@import 'atlas-variables';

.miller-columns-row {
	box-shadow: 0 0 0 1px $gray-400;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

.miller-columns-col {
	margin: 0;
	padding: 0;

	&:nth-child(-n + 2),
	&:not(:last-child) {
		border-right: 1px solid $gray-400;
	}

	&.drop-target .miller-columns-item:last-child {
		box-shadow: inset 0 -2px 0 0 $primary;
	}

	@include media-breakpoint-up(md) {
		height: calc(100vh - 284px);
		min-height: 10rem;
		overflow-y: scroll;
	}
}

.miller-columns-item {
	border-bottom: 1px solid $gray-300;
	cursor: pointer;
	min-height: 4rem;
	padding: 1rem;
	position: relative;

	&:not(:first-child) {
		border-top: 1px solid $gray-300;
	}

	&--active {
		background-color: $light;
	}

	&.dragging {
		opacity: 0.4;
	}

	&.drop-bottom {
		box-shadow: inset 0 -2px 0 0 $primary;
	}

	&.drop-top {
		box-shadow: 0 -2px 0 0 $primary;

		&:first-child {
			box-shadow: inset 0 2px 0 0 $primary;
		}
	}

	&.drop-element {
		box-shadow: inset 0 0 0 0.125rem $primary;
	}

	.miller-columns-item-actions,
	.miller-columns-item-quick-action {
		padding: 0 0 0 0.25rem;
	}

	.miller-columns-item-drag-handler {
		color: $gray-500;
		cursor: move;
		top: 2px;
	}

	&:not(.dragging) .miller-columns-item-mask {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: box-shadow 150ms ease-in-out;
		width: 100%;
		will-change: box-shadow;

		&:focus {
			box-shadow: inset 0 0 0 0.125rem $primary-l1;
			outline: 0;
		}
	}

	.miller-columns-item-child-indicator {
		padding: 0 0 0 0.5rem;
		top: 2px;
	}

	.icon-warning,
	.list-group-title {
		z-index: 2;
	}

	.icon-warning {
		margin-top: 1px;
	}
}

.show-quick-actions-on-hover
	.miller-columns-item:not(.miller-columns-item--active) {
	&:hover {
		.miller-columns-item-quick-action {
			display: flex;
		}
	}

	.miller-columns-item-quick-action {
		display: none;
	}
}
